html{
    font-family:'Courier New', Courier, monospace;
    color: rgb(214, 214, 214);
    border-radius: 0;
    border-spacing: 0;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(77, 77, 77), #131313);
    background-repeat: no-repeat;
    background-color: #131313;
}


#homepage{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#pagedevideos{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

#pagedememes{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

#pagedemusicos{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

h2{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
h3{
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(214, 214, 214);
}

a:hover{
    color: rgb(243, 243, 243);
    background-color: rgb(14, 14, 14);
}